html {
  background-color: #F5F5F5;
}
body {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12.8px;
  font-style: normal;
  line-height: 1.25;
  text-align: justify;
  background-color: #ffffff;
}
body > * {
  padding: 16px;
  position: relative;
}
a,
a:visited {
  color: #1C3AE6;
}
body > header {
  overflow: auto;
  z-index: 1;
  background-color: #666666;
}
body > header > div.account-controls {
  float: right;
}
body > header > div.account-controls p {
  float: left;
  color: white;
}
body > header > div.account-controls p a {
  color: white;
}
body > header > div.account-controls p a:hover,
body > header > div.account-controls p a:focus {
  color: #BBB;
}
body > header > div.account-controls p + p:before {
  content: '   |   ';
  color: #CCC;
  white-space: pre;
}
body > nav {
  display: table;
  width: 100%;
  padding: 0 25% 0 0;
  z-index: 3;
  background-color: #999999;
}
body > nav > a {
  display: table-cell;
  height: 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #737373;
}
body > nav > a:visited {
  color: #ffffff;
}
body > nav > a:hover,
body > nav > a:focus,
body > nav > a.current {
  color: #999999;
  background-color: #ffffff;
  border-color: #ffffff;
}
body.full-width > nav {
  padding-right: 0;
}
body > section#main {
  width: 75%;
  float: left;
  z-index: 2;
  box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}
body.full-width > section#main {
  width: 100%;
  float: none;
}
body > section#sidebar {
  width: 25%;
  float: left;
  padding-left: 32px;
  min-height: 500px;
  z-index: 1;
}
body.full-width > section#sidebar {
  display: none;
}
body > footer {
  clear: both;
  z-index: 3;
  background-color: #ffffff;
}
body > footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #EEE;
}
/* ------ */
section#main p,
section#main h1,
section#main h2,
section#main ul {
  margin-bottom: 16px;
}
section#main p {
  line-height: 1.5;
}
section#main h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
}
section#main h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
section#main ul {
  padding-left: 32px;
}
section#main ul > ul {
  margin: 0;
  padding-left: 24px;
}
section#main ul li {
  margin-bottom: 8px;
  list-style-type: circle;
}
/* ------ */
section#sidebar h1 {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 16px;
}
/* Main Category Listing */
section#sidebar ul.main_category_list {
  margin: 0;
  padding: 0;
}
section#sidebar ul.main_category_list > ul {
  margin: 0;
  padding: 0 0 0 16px;
}
section#sidebar ul.main_category_list a,
section#sidebar ul.main_category_list a:visited {
  display: block;
  padding: 8px;
  color: #333;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
section#sidebar ul.main_category_list a:hover,
section#sidebar ul.main_category_list a:visited:hover,
section#sidebar ul.main_category_list a:focus,
section#sidebar ul.main_category_list a:visited:focus {
  background-color: #999999;
  color: #ffffff;
}
/* Product Lists */
section#main ul.product-list.main-listing {
  display: block;
  margin: 32px 0 16px;
  padding: 32px 0 0;
  overflow: auto;
  border-top: 1px solid #EEE;
}
section#main ul.product-list.main-listing > li {
  width: 193px;
  margin: 0 32px 32px 0;
  padding: 0 32px 0 1px;
  float: left;
  list-style: none;
  border-right: 1px solid #EEE;
}
section#main ul.product-list.main-listing > li img.thumbnail {
  display: block;
  width: 160px;
  margin-bottom: 16px;
  border: 6px solid white;
  outline: 1px solid #EEE;
}
section#main ul.product-list.main-listing > li div.details h2 {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
section#main ul.product-list.main-listing > li div.details p {
  margin-bottom: 8px;
  color: #666666;
  font-size: 10px;
  line-height: 16px;
  text-align: right;
}
section#main ul.product-list.main-listing > li div.details > a {
  display: block;
  color: #33F;
  text-align: right;
  text-decoration: none;
}
section#main ul.product-list.main-listing > li div.details > a:after {
  content: ' »';
}
section#main ul.product-list.main-listing > li div.details > a:hover,
section#main ul.product-list.main-listing > li div.details > a:focus {
  text-decoration: underline;
}
/* Single product view */
section#main div#product-page p.flash {
  float: left;
  margin-bottom: 16px;
  padding: 4px 16px;
  color: #333;
  border: 1px solid #999;
  background-color: #CCC;
  border-radius: 8px;
}
section#main div#product-page p.flash.success {
  color: #393;
  background-color: #CFC;
  border-color: #6C6;
}
section#main div#product-page form {
  clear: left;
  overflow: auto;
}
section#main div#product-page form > img {
  width: 300px;
  float: left;
  border: 1px solid #EEE;
}
section#main div#product-page form > div.details {
  margin: 0 0 0 317px;
}
section#main div#product-page h1 {
  margin-bottom: 8px;
}
section#main div#product-page h2 {
  color: #595959;
  font-size: 16px;
  font-weight: 1;
  line-height: 1;
}
section#main div#product-page div.description {
  margin-bottom: 16px;
}
section#main div#product-page div.description:before {
  content: 'Description:';
  display: block;
  margin-bottom: 4px;
  color: #666;
  font-weight: bold;
  letter-spacing: 0.1em;
}
section#main div#product-page div.sizing {
  margin-bottom: 16px;
}
section#main div#product-page div.sizing:before {
  content: 'Sizing options:';
  display: block;
  margin-bottom: 4px;
  color: #666;
  font-weight: bold;
  letter-spacing: 0.1em;
}
section#main div#product-page div.pricing {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1;
}
section#main div#product-page button {
  padding: 4px 16px;
  border-radius: 8px;
}
/* ------ */
@media screen and (max-width: 599px) {
  body > nav {
    padding-right: 0;
  }
  body > section#main {
    width: 100%;
    float: none;
  }
  body > section#sidebar {
    width: 100%;
    float: none;
    padding-left: 16px;
  }
}
