html {
  background-color: #F5F5F5;
}
body {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12.8px;
  font-style: normal;
  line-height: 1.25;
  text-align: justify;
  background-color: #ffffff;
}
body > * {
  padding: 16px;
  position: relative;
}
body > header {
  overflow: auto;
  z-index: 1;
  background-color: #666666;
}
body > header > div.account-controls {
  float: right;
}
body > header > div.account-controls p {
  float: left;
  color: white;
}
body > header > div.account-controls p a {
  color: white;
}
body > header > div.account-controls p a:hover,
body > header > div.account-controls p a:focus {
  color: #BBB;
}
body > header > div.account-controls p + p:before {
  content: '   |   ';
  color: #CCC;
  white-space: pre;
}
body > nav {
  display: table;
  width: 100%;
  padding: 0 25% 0 0;
  z-index: 3;
  background-color: #999999;
}
body > nav > a {
  display: table-cell;
  height: 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #737373;
}
body > nav > a:hover,
body > nav > a:focus,
body > nav > a.current {
  color: #999999;
  background-color: #ffffff;
  border-color: #ffffff;
}
body.full-width > nav {
  padding-right: 0;
}
body > section#main {
  width: 75%;
  float: left;
  z-index: 2;
  box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 0 30px -4px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}
body.full-width > section#main {
  width: 100%;
  float: none;
}
body > section#sidebar {
  width: 25%;
  float: left;
  padding-left: 32px;
  min-height: 500px;
  z-index: 1;
}
body.full-width > section#sidebar {
  display: none;
}
body > footer {
  clear: both;
  z-index: 3;
  background-color: #ffffff;
}
body > footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #EEE;
}
/* ------ */
section#main p,
section#main h1,
section#main h2,
section#main ul {
  margin-bottom: 16px;
}
section#main p {
  line-height: 1.5;
}
section#main h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
}
section#main h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
section#main ul {
  padding-left: 32px;
}
section#main ul > ul {
  margin: 0;
  padding-left: 24px;
}
section#main ul li {
  margin-bottom: 8px;
  list-style-type: circle;
}
/* ------ */
section#sidebar h1 {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 16px;
}
/* Main Category Listing */
ul.main_category_list {
  margin: 0;
  padding: 0;
}
ul.main_category_list > ul {
  margin: 0;
  padding: 0 0 0 16px;
}
ul.main_category_list a {
  display: block;
  padding: 8px;
  color: #333;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
ul.main_category_list a:hover,
ul.main_category_list a:focus {
  background-color: #999999;
  color: #ffffff;
}
/* ------ */
@media screen and (max-width: 599px) {
  body > nav {
    padding-right: 0;
  }
  body > section#main {
    width: 100%;
    float: none;
  }
  body > section#sidebar {
    width: 100%;
    float: none;
    padding-left: 16px;
  }
}
