#header_tabs {
  background-color: #cd7127;
}
#header_tabs p a.active {
  background-color: #B46321!important;
}
#header_tabs ul li.current a {
  color: #cd7127!important;
}
#header .header_links .settings_link.active, #header .header_links #user_controls_wrapper {
  background-color: #B46321!important;
}
#header .header_links .settings_link.active #user_menu_connector, #header .header_links #user_controls_wrapper #user_menu_connector {
  border-color: #B46321!important;
}
.main_menu_wrapper {
  background-color: #B46321!important;
}
.main_menu_wrapper #main_menu_connector {
  border-color: #B46321!important;
}
div.button a:hover, div.button a:focus {
  background-color: #cd7127;
}
.tabs .tabs_tabs li.active a {
  background-color: #cd7127!important;
}
.tabs .tab_separator {
  border-bottom-color: #cd7127!important;
}
li.form_page, div.form_page {
  background: #f9efe7!important;
}
li.form_page .defaultSkin table, div.form_page .defaultSkin table {
  background-color: #f9efe7!important;
}
li.form_page .defaultSkin .mceButton, div.form_page .defaultSkin .mceButton {
  border-color: #f9efe7!important;
}
.defaultSkin td.mceToolbar {
  background-color: #f9efe7!important;
}
.webkit .form .tabs .tabs_tabs li.active {
  background-color: #cd7127!important;
}
.webkit .form .tabs .tabs_tabs li:first-child.active a {
  background-color: #cd7127!important;
}
