<?
	$columnDefinition = $form_field->getColDefinition();
	$columnInfo = $columnDefinition->getColumnInfo();
	$maxLength = $columnInfo->length !== null ? 'maxlength="'.$columnInfo->length.'"' : null;
?>

<input autocomplete="off" <? if ($form_field->disabled) echo 'disabled="disabled"' ?> <?= $maxLength ?> value="" class="<?= $columnDefinition->type ?>" type="password" id="<?= $this->formGetElementId($form_model_class.'_'.$form_field->dbName) ?>" name="<?= $form_model_class ?>[<?= $form_field->dbName ?>]"/>