<? $file_uploaded = isset($file_uploaded) ? $file_uploaded : null ?>
<div class="toolbar">
	<a class="imageLink display_ignored img_noBottomPading disabled" href="#" id="link_display_ignored" onclick="return import_manager.display_ignored();">Display ignored columns</a>
	<a class="imageLink save_columns img_noBottomPading disabled" href="#" id="link_save_config" onclick="return import_manager.save_configuration();">Save column configuration</a>
	<a class="imageLink open_saved img_noBottomPading disabled" href="#" id="link_load_config" onclick="return import_manager.load_configuration();">Load column configuration</a>
	<div class="clear"></div>
</div>